body {
  font-family: Kantumruy Pro;
}
.display-1 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 4.9rem;
  line-height: 110%;
}
.display-1 > .mbr-iconfont {
  font-size: 6.125rem;
}
.display-2 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 4rem;
  line-height: 115%;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 135%;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.65rem;
  line-height: 130%;
}
.display-5 > .mbr-iconfont {
  font-size: 2.0625rem;
}
.display-7 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 135%;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.92rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.43rem;
    font-size: calc( 2.365rem + (4.9 - 2.365) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.365rem + (4.9 - 2.365) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.32rem;
    font-size: calc( 1.2275rem + (1.65 - 1.2275) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2275rem + (1.65 - 1.2275) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 30px;
}
.bg-primary {
  background-color: #f8f7ff !important;
}
.bg-success {
  background-color: #fff6eb !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffe4c1 !important;
}
.bg-danger {
  background-color: #570000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f8f7ff !important;
  border-color: #f8f7ff !important;
  color: #1f00f7 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #aca0ff !important;
  border-color: #aca0ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #1f00f7 !important;
  background-color: #aca0ff !important;
  border-color: #aca0ff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #550aa9 !important;
  border-color: #550aa9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2c0557 !important;
  border-color: #2c0557 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2c0557 !important;
  border-color: #2c0557 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fff6eb !important;
  border-color: #fff6eb !important;
  color: #eb8100 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #945200 !important;
  background-color: #ffcf94 !important;
  border-color: #ffcf94 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #eb8100 !important;
  background-color: #ffcf94 !important;
  border-color: #ffcf94 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe4c1 !important;
  border-color: #ffe4c1 !important;
  color: #c16d00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ffbe6a !important;
  border-color: #ffbe6a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #c16d00 !important;
  background-color: #ffbe6a !important;
  border-color: #ffbe6a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #570000 !important;
  border-color: #570000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f8f7ff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #aca0ff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #1f00f7 !important;
  background-color: #f8f7ff !important;
  border-color: #f8f7ff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #550aa9;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2c0557 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #550aa9 !important;
  border-color: #550aa9 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fff6eb;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffcf94 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #eb8100 !important;
  background-color: #fff6eb !important;
  border-color: #fff6eb !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe4c1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffbe6a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #c16d00 !important;
  background-color: #ffe4c1 !important;
  border-color: #ffe4c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #570000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #570000 !important;
  border-color: #570000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f8f7ff !important;
}
.text-secondary {
  color: #550aa9 !important;
}
.text-success {
  color: #fff6eb !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffe4c1 !important;
}
.text-danger {
  color: #570000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9f91ff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #250449 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #ffc885 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffb85b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f8f7ff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffe4c1;
}
.alert-danger {
  background-color: #570000;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f8f7ff;
  border-color: #f8f7ff;
  color: #2f12ff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f8f7ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d70000;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 135%;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f8f7ff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 135%;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #f8f7ff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f8f7ff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f8f7ff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f8f7ff;
  border-bottom-color: #f8f7ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f8f7ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #550aa9 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f8f7ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  height: 60px;
  min-width: 80px;
  padding: 0 24px;
  box-shadow: none;
}
@media (max-width: 992px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    height: 50px;
    padding: 0 19px;
  }
}
@media (max-width: 425px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    height: 40px;
    min-width: 70px;
    padding: 0 14px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  opacity: .95;
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary {
  color: #550aa9 !important;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline {
  border: 2px solid #f8f7ff;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn-main .btn-primary-outline:focus {
  color: #550aa9 !important;
  background-color: #f8f7ff !important;
  opacity: 1;
}
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline {
  border: 2px solid #550aa9;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover,
.mbr-section-btn .btn-secondary-outline:focus,
.mbr-section-btn-main .btn-secondary-outline:focus {
  color: #f8f7ff !important;
  background-color: #550aa9 !important;
  opacity: 1;
}
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline {
  border: 2px solid #fff6eb;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover,
.mbr-section-btn .btn-success-outline:focus,
.mbr-section-btn-main .btn-success-outline:focus {
  color: #550aa9 !important;
  background-color: #fff6eb !important;
  opacity: 1;
}
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline {
  border: 2px solid #ffffff;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover,
.mbr-section-btn .btn-info-outline:focus,
.mbr-section-btn-main .btn-info-outline:focus {
  color: #550aa9 !important;
  background-color: #ffffff !important;
  opacity: 1;
}
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline {
  border: 2px solid #ffe4c1;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover,
.mbr-section-btn .btn-warning-outline:focus,
.mbr-section-btn-main .btn-warning-outline:focus {
  color: #f8f7ff !important;
  background-color: #ffe4c1 !important;
  opacity: 1;
}
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline {
  border: 2px solid #570000;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover,
.mbr-section-btn .btn-danger-outline:focus,
.mbr-section-btn-main .btn-danger-outline:focus {
  color: #f8f7ff !important;
  background-color: #570000 !important;
  opacity: 1;
}
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline {
  border: 2px solid #000;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover,
.mbr-section-btn .btn-black-outline:focus,
.mbr-section-btn-main .btn-black-outline:focus {
  color: #fff !important;
  background-color: #000 !important;
  opacity: 1;
}
.cid-tqJTpWbwV0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #550aa9;
}
.cid-tqJTpWbwV0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJTpWbwV0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqJTpWbwV0 .card {
    padding: 0 80px;
  }
  .cid-tqJTpWbwV0 .card:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.cid-tqJTpWbwV0 .title-wrapper {
  margin: 0 0 53px 0;
}
@media (max-width: 992px) {
  .cid-tqJTpWbwV0 .title-wrapper {
    margin: 20px 0 0 0;
  }
}
.cid-tqJTpWbwV0 .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tqJTpWbwV0 .panel-group {
    margin-bottom: 32px;
  }
}
.cid-tqJTpWbwV0 .panel-group .card {
  padding: 16px 0 24px 0;
  border-radius: 0;
}
.cid-tqJTpWbwV0 .panel-group .card:not(:first-child) {
  border-top: 1px solid #f8f7ff;
}
.cid-tqJTpWbwV0 .panel-group .card .card-header {
  background-color: transparent;
  padding: 13px 0;
  border: none;
}
@media (max-width: 768px) {
  .cid-tqJTpWbwV0 .panel-group .card .card-header {
    padding: 0 0 10px;
  }
}
.cid-tqJTpWbwV0 .panel-group .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-tqJTpWbwV0 .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  opacity: 0;
}
.cid-tqJTpWbwV0 .panel-group .card .card-header .panel-title .panel-title-edit {
  margin: 0;
  width: 100%;
}
.cid-tqJTpWbwV0 .panel-group .card .card-header .panel-title .mbr-iconfont {
  margin-left: 10px;
  transition: all .3s ease;
}
.cid-tqJTpWbwV0 .panel-group .card .panel-collapse .panel-body .panel-text {
  margin: 0;
}
.cid-tqJTpWbwV0 .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}
@media (max-width: 425px) {
  .cid-tqJTpWbwV0 .image-wrapper {
    height: 400px;
  }
}
.cid-tqJTpWbwV0 .image-wrapper .image-main {
  width: 230px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}
.cid-tqJTpWbwV0 .image-wrapper .mbr-emoji {
  position: absolute;
  top: 0;
  right: 9rem;
  font-size: 52px;
}
.cid-tqJTpWbwV0 .image-wrapper .mbr-emoji:nth-child(2) {
  left: 4rem;
  top: 22%;
}
.cid-tqJTpWbwV0 .image-wrapper .mbr-emoji:nth-child(3) {
  font-size: 72px;
  right: 3.5rem;
  top: 40%;
}
.cid-tqJTpWbwV0 .image-wrapper .mbr-emoji:nth-child(4) {
  font-size: 102px;
  top: auto;
  left: 7rem;
  bottom: 1rem;
}
.cid-tqJTpWbwV0 .image-wrapper .mbr-emoji:nth-child(5) {
  font-size: 46px;
  top: auto;
  bottom: 0;
  left: 50%;
}
.cid-tqJTpWbwV0 .mbr-section-title {
  color: #f8f7ff;
}
.cid-tqJTpWbwV0 .panel-title-edit,
.cid-tqJTpWbwV0 .mbr-iconfont {
  color: #f8f7ff;
}
.cid-tqJTpWbwV0 .panel-text {
  color: #f8f7ff;
}
